* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #5A2EC6;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
}

h2 {
    font-size: 28px;
    margin: 10px 0 30px;
    font-weight: bold;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
}

.pricing-plan {
    background: white;
    color: #5A2EC6;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pricing-plan:hover {
    transform: scale(1.05);
}


.popular {
    position: relative;
    width: 270px;  
    height: 410px; 
}

.popular::before {
    content: "MOST POPULAR";
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-49%);
    background: bisque;
    color: #5A2EC6;
    padding: 8px 15px;
    font-size: 13px;
    font-weight:arial;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto 10px auto;
}

.emoji {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

.plan-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 230, 8);
}

.price {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
    
}

.features {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 1.8;
    color: #333;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #5A2EC6;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #5A2EC6;
    color: white;
}